doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory
    link(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='style.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css")
    
  body#obama
    div
      | IT'S OBAMA WHAT A MAN
    
    a(href="/")
      button(type='button') AGAIN

      // Other info we want to present
      // A Spot for his facebook/twitter/spotify music theme
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='js/materialize.js')
    script(src='js/init.js')