doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory
    link(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='/style.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css")

  body
    //
      nav
      .nav-wrapper
        a.brand-logo(href='/')
          img(src='/views/logo.png' width="150px")
        ul#nav-mobile.right.hide-on-med-and-down
          li
            a(href='/landing/hillary%20clinton') Hillary Clinton
          li
            a(href='/landing/barack%20obama') Barack Obama
    nav
        .nav-wrapper
            a.brand-logo.center(href='/') HOME
            ul#nav-mobile.left.hide-on-med-and-down
                li
                    a(href='/landing/hillary%20clinton') Hillary Clinton
                li.active
                    a(href='/landing/donald%20trump') Donald Trump
                li
                    a(href='/landing/barack%20obama') Barack Obama
            ul.right.hide-on-med-and-down
                li
                    a(href="http://internetthoughts.net/results?input=donald%20trump" target="_blank") Sentiment Analysis

    div.container
      div#description
        p.flow-text YOU'VE GOT TRUMP
        | The image you submitted was determined to be Donald Trump through Clarifai's image analysis AI
    div#spread.container
      a( href="https://www.facebook.com/DonaldTrump/" target="_blank")
        img#icon( src="/images/fb-icon.png" )
      img#person( src="/images/trump.png" )
      a( href="https://twitter.com/realDonaldTrump" target="_blank")
        img#icon( src="/images/Twitter.png" )
    //
      a(href="/")
        button(type='button') TRY AGAIN

      // Other info we want to present
      // A Spot for his facebook/twitter/spotify music theme
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='js/materialize.js')
    script(src='js/init.js')