doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Submit A Pic!
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory
    link(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='style.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css")
    link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
    link(rel="icon", href="/images/favicon.ico", type="image/x-icon")

  body#main
    a(href='/')
      img#logo(src='images/logo.png' )
    div
      form#inputfield(action='/search', method='post')
            .form-group
              label#line ENTER THE URL OF A PICTURE OF SOMEONE YOU WANT TO ANALYZE
              br
              input#line.form-control(type='url', name='URL')
              br
      button.btn.cyan.btn-warning.btn-lg(type='submit' form="inputfield" ) ANALYZE
      br
      label OR
      br
      div#upload
        input#getval(type='file')
        br
        #clock
        style.
          #clock{
          background-image: url('');
          background-size: cover;
          background-position: center;
          height: 150px; width: 150px;
          border-radius: 50%;
          }
          .hidden{
          display: none;
          }
        script.
          document.getElementById('getval').addEventListener('change', readURL, true);
          function readURL(){
          var file = document.getElementById("getval").files[0];
          var reader = new FileReader();
          reader.onloadend = function(){
          document.getElementById('clock').style.backgroundImage = "url(" + reader.result + ")";
          var bytes = reader.result;
          bytes = bytes.substring(23,bytes.count);
          document.getElementById('hiddenImageBytes').value = bytes;
          }
          if(file){
          reader.readAsDataURL(file);
          }
          }
        form#inputbytes(action='/searchByBytes', method='post')
          .form-group
            input#hiddenImageBytes.hidden(type='text', name='hiddenImageBytes')
            br

      button.btn.cyan.btn-warning.btn-lg(type='submit' form="inputfield" ) ANALYZE
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
      script(src='https://code.jquery.com/jquery-2.1.1.min.js')
      script(src='js/materialize.js')
      script(src='js/init.js')

    html
