doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory
    link(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='style.css', type='text/css', rel='stylesheet', media='screen,projection')
  body#main
    a(href='/')
      img(src='https://cdn.pixabay.com/photo/2016/10/08/18/35/help-1724292_960_720.png', width='150px')
    form(action='/search', method='post')
      .form-group
        label#line ENTER THE URL OF A PICTURE OF SOMEONE YOU WANT TO ANALYZE
        br
        input#line.form-control(type='url', name='URL')
        br
        br
        br
        button.btn.cyan.btn-warning.btn-lg(type='submit') ANALYZE
        br
        br
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='js/materialize.js')
    script(src='js/init.js')
    input#getval(type='file', multiple='')
    br
    br
    #clock0.preview(onclick='removeImage()', name='box')
    #clock1.preview(onclick='removeImage()', name='box')
    #clock2.preview(onclick='removeImage()', name='box')
    #clock3.preview(onclick='removeImage()', name='box')
    br
    br
    style.
      .preview{
      display:inline-block;
      background-image:url('');
      background-size:cover;
      background-position: center;
      height: 200px; width: 200px;
      border: 1px solid #bbb;
      margin:0;
      }
      .hidden{
      display: none;
      }
      #concept0{
      display:inline-block;
      width:200px;
      margin:4px;
      }
    script.
      document.getElementById('getval').addEventListener('change', readURL, true);
      function readURL(){
      var files = document.getElementById("getval").files;
      var count = 0;
      for(var k=0; k<4; k++){
      if(files[k]){
      count++
      }
      }
      var readers = [new FileReader(), new FileReader(), new FileReader(), new FileReader(), new FileReader()]
      readers[count-1].onloadend = function(){
      for(k=0; k<4; k++){
      document.getElementById('clock'.concat(String(k))).style.backgroundImage = "url(" + readers[k].result + ")";
      var bytes = readers[k].result;
      bytes = bytes.substring(23,bytes.count);
      document.getElementById('hiddenImageBytes'.concat(String(k))).value=bytes
      }
      }
      for(k=0; k<4; k++){
      if(files[k]){
      readers[k].readAsDataURL(files[k]);
      }else{
      }
      }
      }
      function removeImage(){
      var boxes = document.getElementsByName("box")
      var iden = "none"
      for(var i=0; i<4; i++){
      boxes[i].onclick = function(e){
      if(this.style){
      this.style.backgroundImage='url("")'
      if(document.getElementById('hiddenImageBytes'.concat(String(i)))){
      document.getElementById('hiddenImageBytes'.concat(String(i))).value = ""
      }
      }
      }
      }
      }
    form(action='/train', method='post')
      .form-group
        label#line1 Negatively Tag Against:
        input#hiddenImageBytes0.hidden(type='text', name='hiddenImageBytes0')
        input#hiddenImageBytes1.hidden(type='text', name='hiddenImageBytes1')
        input#hiddenImageBytes2.hidden(type='text', name='hiddenImageBytes2')
        input#hiddenImageBytes3.hidden(type='text', name='hiddenImageBytes3')
        br
        input#concept0.format(type='text', name='concept0')
        br
        br
        br
        br
        button.btn.cyan.btn-warning.btn-lg(type='submit') Train
        br
        br
    html
